<% layout('/layouts/boilerplate') %>
	<script>
		const mapboxToken = '<%-process.env.MAPBOX_TOKEN %>'
		var geoLocation = '<%= camp.geometry.coordinates %>'.split(",")
		const campTitle = '<%= camp.title %>'

	</script>
	<!-- Star Rating CSS -->
	<link href="/css/starability.css" rel="stylesheet">

	<div class="row">
		<div class="col-lg-6 col-md-12">

			<div class="card">
				<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<% camp.images.forEach((img,i)=>{ %>
							<div class="carousel-item <%= i===0 ? 'active' : "" %> ">
								<img class="d-block w-100" src="<%= img.url %> " alt="<%= i %>  ">
							</div>
							<% }) %>

					</div>
					<% if(camp.images.length> 1) {%>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
						<% } %>
				</div>
				<div class="card-body">
					<div id='map' style='width: 400px; height: 300px;'></div>
					<h5 class="card-title">The <%= camp.title %>
					</h5>
					<p class="card-text">
						<%= camp.description %>
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-muted">Camp located at <%= camp.location %>
					</li>
					<li class="list-group-item"> Author: <%= camp.author.username %>
					<li class="list-group-item"> Price: $ <%= camp.price %> / night

				</ul>
				<% if(currentUser && camp.author.equals(currentUser)) { %>
					<div class="card-body">
						<a class="btn btn-warning" href="/campground/<%= camp.id %>/update">Edit</a>

						<form class="d-inline" method=POST action="/campground/<%=camp.id%>?_method=DELETE">
							<button class="btn btn-danger"> Delete</button>
						</form>
					</div>
					<% } %>
						<div class="card-footer">
							<a class="card-link" href="/campground">Back to camp listing</a>
						</div>
			</div>
		</div>

		<div class="col-lg-6 col-md-12">
			<% if(currentUser) { %>
				<form class="mb-3 validated-form" action="/campground/<%= camp.id %>/review " method="POST" novalidate>
					<h2>Leave a Review</h2>
					<!-- Rating Panel -->
					<div class="mb-3">
						<label class="form-label" for="rating">Rate your experience</label>
						<!-- <input name="review[rating]" class="form-range" type="range" min="1" max="5"> -->
						<fieldset class="starability-basic">

							<input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
								checked
								aria-label="No rating." />
							<input type="radio" id="first-rate1" name="review[rating]" value="1" />
							<label for="first-rate1" title="Terrible">1 star</label>
							<input type="radio" id="first-rate2" name="review[rating]" value="2" />
							<label for="first-rate2" title="Not good">2 stars</label>
							<input type="radio" id="first-rate3" name="review[rating]" value="3" />
							<label for="first-rate3" title="Average">3 stars</label>
							<input type="radio" id="first-rate4" name="review[rating]" value="4" />
							<label for="first-rate4" title="Very good">4 stars</label>
							<input type="radio" id="first-rate5" name="review[rating]" value="5" />
							<label for="first-rate5" title="Amazing">5 stars</label>
						</fieldset>

					</div>
					<!-- Comments Panel -->
					<div class="mb-3">
						<label class="form-label" for="reviewbody">
							How was the experience
						</label>
						<textarea class="form-control" name="review[body]" id="reviewbody" cols="30" rows="3"
							required></textarea>
						<div class="valid-feedback"> Looks Good</div>
					</div>

					<button class="btn btn-success">Submit Rating</button>
				</form>
				<% } %>
					<div class="mb-3">
						<span>REVIEWS</span>
						<% for (let review of camp.reviews){ %>
							<div class="card mb-3">
								<div class="card-body">
									<h3 class="card-title">
										<%= review.body %>
									</h3>

									<h6 class="card-subtitle mb-2 text-muted">
										Author:<%= review.author.username %>
									</h6>
									<p class="starability-result" data-rating=<%=review.rating %>></p>
									<p> Rating: <%= review.rating %>
									</p>
									<% if(currentUser && review.author.equals(currentUser)) { %>
										<form method="POST"
											action="/campground/<%= camp.id %>/review/<%= review.id %>?_method=DELETE">
											<button class="btn btn-sm btn-danger">
												Delete Review
											</button>
										</form>
										<% } %>
								</div>

							</div>
							<% } %>
					</div>
		</div>


	</div>
	<script src="/js/mapboxShowRoute.js"></script>